/*
seletor{
    propiedade:valor;
}
*/
body{
    background-color: #222831;
    font-family: 'Roboto',sans-serif;
    margin:0;
}

div{
    background-color:#EEEEEE;
    width: 340px;
    text-align:center;
    border-radius: 10px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;

    padding:30px;
}

img{
    width: 100px;
    border-radius: 50px;
    border:5px #222831 solid;
}

h1{
   margin:0;
}

h2{
    margin:0;
    color: #222831;
    font-size:20px;
}

p{
    color: #666666;
}

ul{
    padding:0;
    list-style-type:none;/*retira o marcador da lista*/
}

li{
   margin: 5px;
} 

/*formatando os links que estão dentro da lsita<ul>*/

ul a{
     background-color:#393E46;
     color: white;
     display: block;
     text-decoration: none; /*retira o sublinhado dos links*/
    padding-top: 10px;
    padding-bottom: 10px;
}

ul a:hover{
    background-color: black;
}

#link-rodape{
    color:black;
}


/*MEDIA QUERY */
/* se a tabela do usuário for de até 500px*/

@media(max-width:500px){
    div{
        width: 300px;
        padding:15px;
    }
     
    img{
        width: 1px;
    }

    h1{
        font-size: 26px;
    }   
}